@page "/terminology"

<PageTitle>Terminology</PageTitle>

<h1 Style="@($"color:{Colors.DeepPurple.Lighten2}; font-size:48px;")">Terminology</h1>
<MudDivider />
<br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5" Style="@($"color:{Colors.DeepPurple.Lighten2};")">
            Accidental note:
        </MudText>
        <MudText Typo="Typo.h5">
            <em>A note which IS sharp or flat.<br />There are 5: <br />A#/Bb - C#/Db - D#/Eb - F#/Gb - G#/Ab</em>
        </MudText>
    </MudCardContent>
</MudCard>
<br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5" Style="@($"color:{Colors.DeepPurple.Lighten2};")">
            Chromatic Note: 
        </MudText>
        <MudText Typo="Typo.h5">
            <em>One of the 12 notes : (Naturals + accidentals)<br />A - A#/Bb - B - C - C#/Db - D - D#/Eb - E - F - F#/Gb - G - G#/Ab</em>
        </MudText>
    </MudCardContent>
</MudCard>
<br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5" Style="@($"color:{Colors.DeepPurple.Lighten2};")">
            Natural note: 
        </MudText>
        <MudText Typo="Typo.h5">
            <em>A note which IS NOT sharp or flat.<br />There are 7: <br />A-B-C-D-E-F-G</em>
        </MudText>
    </MudCardContent>
</MudCard>
<br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5" Style="@($"color:{Colors.DeepPurple.Lighten2};")">
            Octave:
        </MudText>
        <MudText Typo="Typo.h5">
            <em>12 notes above or below the starting (root) note.<br />For example: C5 is an octave ABOVE C4</em>
        </MudText>
    </MudCardContent>
</MudCard>
<br />
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5" Style="@($"color:{Colors.DeepPurple.Lighten2};")">
            Root note:
        </MudText>
        <MudText Typo="Typo.h5">
            <em>Can be any of the 12 chromatic notes, it is your chosen starting point.</em>
        </MudText>
    </MudCardContent>
</MudCard>
<br />

@code {

}
